@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
  margin: 0;
  padding: 0;
}

.main-container {
  flex-grow: 1;
}

.slide-1 {
  background-color: #feafc3;
}

.slide-2 {
  background-color: #69a9ff;
}

.slide-3 {
  background-color: #fcc850;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* Button */

.button {
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  background: #fcfcfc;
  border: 4px solid;
  border-color: rgb(255, 47, 100, 0.3);
  border-radius: 26px;
  padding: 12px 32px;
  display: inline-block;
}

.newsletter-button {
  color: #fcfcfc;
  background-color: #ff2f64;
}

.address-button {
  color: #fcfcfc;
  background-color: #ff2f64;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Navigation */

.navigation-logo {
  display: block;
  margin: 24px 16px 24px 0;
}

.navigation {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  list-style: none;
}

.navigation-user {
  max-width: 470px;
  margin-left: auto;
}

.navigation-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  padding: 8px 16px;
}

.catalog-list {
  position: relative;
  margin-right: 23px;
}

.catalog-list::after {
  content: url("../images/icons/arrows/arrow-down.svg");
  position: absolute;
  top: 10px;
  margin-left: 7px;
}

.navigation-contacts-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  margin-right: 81px;
}
.search {
  position: relative;
}


.quantity {
  font-size: 14px;
  text-align: right;
  position: relative;
}

.login-user {
  margin-right: 16px;
}

.quantity::before {
  position: absolute;
  content: url("../images/icons/card-black.svg");
}

/* Slider */
.product {
}

.product-slider {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-item-active {
  display: grid;
  grid-template-columns: 470px 330px;
}

.product-wrapper {
  display: none;
}

.product-item-active .product-wrapper {
  display: block;
}

.product-img-wrapper {
  width: 100px;
  height: 150px;
  position: relative;
}

.product-img-wrapper::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: brown;
  left: 0;
  top: 0;
  z-index: 1;
}

.product-item-active .product-img-wrapper {
  width: 327px;
  height: 507px;
}

.product-item-active .product-img-wrapper::before {
}

.slider-image {
  width: 66px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.product-title {
  padding: 132px 630px 24px 70px;
  margin: 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  width: 470px;
}

.description-icecream-slider {
  padding: 0 0 44px 70px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 430px;
}

.footer-slider {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.slider-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  margin-left: 66px;
}

.slider-pagination {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-social-list {
  display: flex;
  justify-content: space-between;
  min-width: 80px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-tg {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/social/telegram.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #feafc3;
}

.button-vk {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/social/vk.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #feafc3;
}

.button-yt {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/social/youtube.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #feafc3;
}

/* Promo */

.promo-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  width: 434px;
  margin: 0 auto;
  padding-bottom: 55px;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.promo-item {
  width: 570px;
  min-height: 268px;
  background-color: #ff7799;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 37px 212px 31px 36px;
  box-sizing: border-box;
}

.promo-item-raspberries {
  background-image: url("../images/image-ice/raspberries-photo.png");
}

.promo-item-marshmallow {
  background-image: url("../images/image-ice/marshmallow-photo.png");
}

.promo-title-icecream {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.description-promo {
  width: 304px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.button-promo {
  margin-left: -4px;
}

/* Hit */

.hit-icecream-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  width: 527px;
  text-align: center;
  padding: 0;
  margin: 80px auto 56px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-card {
  max-width: 270px;
  position: relative;
  padding-bottom: 18px;
}

.product-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 52px);
  border-radius: 8px;
  background-color: #fcfcfc;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.product-card-link {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
  position: relative;
  z-index: 10;
}

.product-card-image {
  padding: 0 51px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.product-card-title {
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.description-icecream {
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  text-align: center;
  padding: 8px 40px 16px;
  margin: 0;
  position: relative;
  z-index: 10;
}

.product-card-price {
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
  padding-left: 40px;
  position: relative;
  z-index: 10;
}

.button-card {
  position: relative;
  z-index: 10;
}

.button-card::before {
  background-color: #ff2f64;
  background-image: url("../images/icons/card-white.svg");
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 20;
}

/* About */

.about-production {
  margin: 0;
  margin-top: 80px;
  padding: 0;
  background-image: url("../images/backgrounds/ceo.jpg");
  background-color: #fcfcfc;
  background-repeat: repeat;
  border-radius: 16px;
}

.about-production-title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.about-production-list {
  display: flex;
  justify-content: space-between;
  width: 1042px;
  flex-wrap: wrap;
  margin: 56px 64px;
  padding: 0;
  list-style: none;
}

.about-production-item {
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  max-width: calc(100% / 2);
}

/* News */

.blog {
  background-image: url("../images/backgrounds/blog.jpg");
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 570px;
}

.about-text {
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  padding: 0;
  margin: 0;
  margin-top: 33px;
  margin-left: 32px;
  width: 200px;
}

.blog-title {
  padding: 0;
  margin: 12px 235px 67px 32px;
}

.news-blog {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #2d3440;
}

.news-letter {
  background-image: url("../images/backgrounds/subscription.png");
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 570px;
  position: relative;
}

.news-letter::before {
  content: "";
  position: absolute;
  background-color: #fcfcfc;
  border-radius: 16px;
  width: 100%;
  height: calc(100% - 6px);
  z-index: 1;
}

.about-text-letter {
  padding: 0;
  margin: 26px;
  margin-bottom: 42px;
  font-size: 16px;
  color: #565c66;
  width: 510px;
  z-index: 100;
}

.newsletter-form {
  z-index: 100;
}

.field {
  width: 332px;
  height: 48px;
  margin-left: 26px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

/* Delivery */

.delivery {
  background-image: url("../images/backgrounds/delivery.jpg");
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 1170px;
  min-height: 534px;
  margin: 80px 0;
}

.delivery-title {
  padding-top: 167px;
  margin-left: 100px;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  width: 370px;
}

.order-block {
  display: flex;
  justify-content: flex-end;
}

.order-text {
  padding: 0;
  margin-left: 100px;
  font-size: 16px;
  color: #565c66;
  width: 370px;
}

.appointment-form {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* Contacts */

.adress-contacts {
  background-color: #fcfcfc;
  background-image: url("../images/backgrounds/feedback.jpg");
  background-repeat: no-repeat;
  margin: 80px 0;
  border-radius: 16px;
  width: 1170px;
  position: relative;
}

.adress-contacts::before {
  content: "";
  position: absolute;
  background-color: #fcfcfc;
  width: 343;
  height: calc(100% - 64px);
  border-radius: 8px;
  margin: 64px;
  z-index: 10;
}

.contacts-info {
  width: 350px;
  padding: 104px;
  padding-bottom: 28px;
  font-style: normal;
  z-index: 1;
}

.contacts-address-text {
  text-align: left;
  margin: 0;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
  width: 270px;
}

.address-text {
  padding-bottom: 12px;
  margin: 0;
  font-size: 16px;
  color: #565c66;
  width: 210px;
}

.contacts-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  text-decoration: none;
}

.time-text {
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
  margin: 0;
}

.contacts-buton {
  color: #fcfcfc;
  border-color: rgb(252, 252, 252, 0.6);
  background-color: #ff2f64;
  margin-left: 100px;
  margin-bottom: 100px;
}

/* Footer */

.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  min-width: 104px;
  padding: 0;
  margin-right: 260px;
  list-style: none;
}

.footer-info-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  min-width: 360px;
  max-height: 50px;
  margin: 0 auto;
  padding: 0;
}

.footer-index {
  margin-left: auto;
  min-width: 200px;
}

.info-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.link-bold {
  font-weight: 700;
  position: relative;
}

.link-bold::before {
  content: url("../images/icons/heart-fill.svg");
  margin-top: 2px;
  padding-right: 8px;
  width: 16px;
  height: 16px;
}

.footer-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  padding-top: 14px;
}

.htmlacademy-link {
  color: #2d3440;
}

/* Catalog */

.breadcrumbs {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs-link {
  padding-right: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

/* Filter */

.catalog-page-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.catalog-filter {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
  width: 850px;
}

.catalog-filter-title {
  padding: 0;
  padding-bottom: 8px;
  margin: 0;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.sorting {
  width: 196px;
  padding-right: 24px;
}

.price {
  padding: 0;
  width: 196px;
  padding-right: 24px;
}

.fat {
  width: 390px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  padding: 0;
  padding-right: 10px;
}

.catalog-filter-item:last-child {
  padding: 0;
}

.fillers {
  padding-bottom: 8px;
  width: 610px;
}

.filter-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  width: 185px;
  border-radius: 20px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}

.pagination-link {
  color: #2d3440;
  text-decoration: none;
}
