@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
  margin: 0;
  padding: 0;
}

.main-container {
  flex-grow: 1;
}

.slide-1 {
  background-color: #feafc3;
}

.slide-2 {
  background-color: #69a9ff;
}

.slide-3 {
  background-color: #fcc850;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

/* Button */

.button {
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  background: #fcfcfc;
  border: 4px solid;
  border-color: rgb(255, 47, 100, 0.3);
  border-radius: 26px;
  padding: 12px 32px;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Navigation */

.navigation-logo {
  display: block;
  margin: 24px 16px 24px 0;
}

.navigation {
  display: flex;
  width: 1170px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 43px;
  list-style: none;
}

.navigation-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  padding: 0 16px;
}

.navigation-user {
  margin-top: 40px;
}

.navigation-list .navigation-user {
  min-width: 16px;
  min-height: 16px;
}

.catalog-list {
  position: relative;
  margin-right: 23px;
}

.catalog-list::after {
  content: url("../images/icons/arrows/arrow-down.svg");
  position: absolute;
  top: 1px;
  margin-left: 7px;
}

.navigation-contacts-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  margin-left: 165px;
}

.search {
  position: relative;
  margin-right: 16px;
}

.search::after {
  content: url("../images/icons/search.svg");
  position: absolute;
  padding: 4px 9px;
}

.login-user {
  font-size: 14px;
  margin-left: 17px;
  padding-left: 38px;
  margin-top: 2px;
  position: relative;
}

.login-user::before {
  content: url("../images/icons/log-in.svg");
  position: absolute;
  top: 1px;
  left: 17px;
}

.quantity {
  padding-top: 2px;
  font-size: 14px;
  padding-left: 39px;
  position: relative;
}

.quantity::before {
  position: absolute;
  content: url("../images/icons/card-black.svg");
  top: 4px;
  left: 17px;
}

/* Slider */

.product {
  margin-bottom: 56px;
}

.product-slider {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-item {
  display: grid;
  grid-template-columns: 545px 330px;
}

.product-wrapper {
  display: none;
}

.product-item-active .product-wrapper {
  display: block;
  padding: 132px 0 72px 70px;
}

.product-item-active .product-img-wrapper .slider-image {
  padding-top: 16px;
  width: 330px;
}

.product-img-wrapper {
  width: 100px;
  height: 150px;
  position: relative;
}

.product-img-wrapper::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffcbd8;
  left: 0;
  top: 0;
  z-index: 1;
}

.product-item-active .product-img-wrapper::before {
  content: "";
  position: absolute;
  width: 327px;
  height: 312px;
  top: 116px;
  border-radius: 50%;
  background-color: #ffcbd8;
  z-index: 1;
}

.slider-image {
  width: 66px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.product-title {
  margin: 0;
  padding-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.description-icecream-slider {
  margin: 0;
  padding-bottom: 44px;
  padding-right: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.slider-button {
  margin-left: -3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

/* foter-slider */

.footer-slider {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.slider-pagination-button {
  display: inline;
  justify-content: space-between;
  padding: 0;
  margin-right: 8px;
  width: 12px;
  height: 12px;
  background-color: rgb(252, 252, 252, 0.3);
  border: 0;
  border-radius: 50%;
}

.slider-pagination-button-current {
  background-color: rgb(252, 252, 252);
}

.slider-pagination {
  display: flex;
  padding: 0;
  margin-right: 0 auto;
  list-style: none;
}

.main-social-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-between;
  min-width: 102px;
  padding: 0;
  list-style: none;
}

.social-button {
  width: 24px;
  height: 24px;
}
.button-tg {
  content: url("../images/icons/social/telegram.svg");
}

.button-vk {
  content: url("../images/icons/social/vk.svg");
}

.button-yt {
  content: url("../images/icons/social/youtube.svg");
}

/* Promo */

.promo-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  width: 434px;
  margin: 0 auto;
  margin-top: 34px;
  padding-bottom: 55px;
}

.promo-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.promo-item {
  width: 570px;
  min-height: 268px;
  background-color: #ff7799;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 37px 212px 31px 36px;
  box-sizing: border-box;
}

.promo-item-raspberries {
  background-image: url("../images/image-ice/raspberries-photo.png");
}

.promo-item-marshmallow {
  background-image: url("../images/image-ice/marshmallow-photo.png");
}

.promo-title-icecream {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

.description-promo {
  width: 304px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.button-promo {
  margin-left: -4px;
}

/* Hit */

.hit-icecream-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  width: 527px;
  text-align: center;
  padding: 0;
  margin: 80px auto 56px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 52px);
  border-radius: 8px;
  background-color: #fcfcfc;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.product-card-link {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
  position: relative;
  z-index: 10;
}

.product-card-image {
  padding: 0 51px 12px;
  border-radius: 50%;
}

.product-card-title {
  text-align: center;
  padding: 0;
  padding-bottom: 8px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.description-icecream {
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  text-align: center;
  padding: 0 40px;
  margin: 0;
  position: relative;
  z-index: 10;
}

.product-card-price {
  margin-top: 20px;
  padding-left: 40px;
  padding-bottom: 27px;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
  position: relative;
  z-index: 10;
}

/* About */

.about-production {
  margin-top: 80px;
  background-image: url("../images/backgrounds/ceo.jpg");
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 24px;
}

.about-wrapper {
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 56px 40px;
}

.about-production-title {
  margin: 0;
  padding-bottom: 57px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.about-production-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 506px);
  gap: 40px 32px;
  list-style: none;
}

.about-production-item {
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  padding-left: 64px;
}

/* News */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding: 0;
}

.blog {
  background-image: url("../images/backgrounds/blog.jpg");
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 570px;
  margin-right: 30px;
}

.about-text {
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  padding: 0;
  margin: 0;
  margin-top: 33px;
  margin-left: 32px;
  width: 200px;
}

.blog-title {
  padding: 0;
  margin: 12px 230px 68px 32px;
}

.news-blog {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #2d3440;
}

.news-letter {
  background-image: url("../images/backgrounds/subscription.png");
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 570px;
}

.about-text-wrapper {
  background-color: #fcfcfc;
  border-radius: 16px;
  margin: 6px;
  padding: 26px;
}

.about-text-letter {
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
  font-size: 16px;
  color: #565c66;
  width: 510px;
  z-index: 100;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
}

.field-email {
  padding: 0;
  padding-left: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  width: 332px;
  border-radius: 3px;
  border: 0.5px solid;
}

.newsletter-button {
  margin: 1px;
  color: #fcfcfc;
  border-color: rgb(252, 252, 252, 0.6);
  background-color: #ff2f64;
}

/* Delivery */

.delivery {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/backgrounds/delivery.jpg");
  background-color: #fcfcfc;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-top: 80px;
  padding: 63px;
}

.delivery-wrapper {
  margin-top: 104px;
  margin-left: 37px;
  width: 372px;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 24px;
}

.order-text {
  font-size: 16px;
  color: #565c66;
  margin: 0;
  padding-bottom: 98px;
}

.order-block {
  margin: 0;
  padding: 40px;
  max-width: 500px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.order-block-text {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size: 16px;
}

.appointment-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.appointment-form-address {
  grid-column: 1/-1;
}

.address-button {
  grid-column: 1/-1;
  justify-self: center;
}

.address-button {
  color: #fcfcfc;
  background-color: #ff2f64;
  border-color: rgb(252, 252, 252, 0.6);

}

.field-group {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 8px;
}

/* Contacts */

.adress-contacts {
  background-image: url("../images/backgrounds/feedback.jpg");
  background-repeat: no-repeat;
  margin-top: 80px;
  border-radius: 16px;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 64px;
}

.contacts-wrapper {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 38px;
  width: 302px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.contacts-info {
  font-style: normal;
}

.address-text {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  color: #565c66;
}

.contacts-address-text {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.contacts-phone {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  text-decoration: none;
}

.time-text {
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
  margin: 0;
}

.contacts-buton {
  margin-left: -4px;
  margin-top: 28px;
  color: #fcfcfc;
  border-color: rgb(252, 252, 252, 0.6);
  background-color: #ff2f64;
}

/* Footer */

.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 48px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 260px;
  min-width: 104px;
  list-style: none;
}

.footer-info-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 350px;
  margin: 0 auto;
  padding: 0;
  margin-top: 1px;
}

.footer-info-item {
  padding-right: 24px;
}

.footer-index {
  margin-left: auto;
  width: 192px;
}

.info-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.link-bold {
  font-weight: 700;
}

.footer-info-list::before {
  content: url("../images/icons/heart-fill.svg");
  width: 16px;
  height: 16px;
  padding-right: 7px;
}

.footer-text {
  margin: 0;
  padding-top: 9px;
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #2d3440;
  border-bottom: 1px solid;
}

/* Catalog */

.breadcrumbs {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  list-style: none;
}

.catalog-link {
  position: relative;
  padding-left: 0;
}

.catalog-link::before {
  content: url("../images/icons/arrows/chevrons-right.svg");
  position: absolute;
  left: -20px;
  top: -1px;
}

.catalog-link::after {
  content: url("../images/icons/arrows/chevrons-right.svg");
  position: absolute;
  left: 65px;
  top: -1px;
}

.breadcrumbs-link {
  margin-right: 29px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.active-link {
  border-bottom: 2px #2d3440 solid;
}

/* Filter */

.catalog-page-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  margin-top: 17px;
}

.catalog-filter {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
  width: 850px;
}

.catalog-filter-title {
  padding: 0;
  padding-bottom: 8px;
  padding-left: 16px;
  margin: 0;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.sorting {
  width: 196px;
  margin-right: 24px;
}

.select-control {
  font-size: 15px;
  line-height: 20px;
  padding: 8px 34px 8px 12px;
  border: none;
  background-color: rgb(252, 252, 252, 0.3);
  border-radius: 20px;
}

.price {
  display: flex;
  padding: 0;
  width: 196px;
  margin-right: 24px;
}

.fat {
  min-width: 383px;
}

.catalog-filter-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 8px 24px;
  background-color: rgb(252, 252, 252, 0.3);
  border-radius: 20px;
}

.catalog-filter-item {
  padding: 0;
  margin-right: 10px;
}

.catalog-filter-item:last-child {
  padding: 0;
}

.fillers {
  border-radius: 20px;
  width: 610px;
}

.filter-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  width: 185px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 20px;
}

.pagination {
  display: flex;
  margin-top: 14px;
}

.pagination-show-more {
  margin-left: 486px;
  margin-right: 302px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  box-sizing: border-box;
  padding: 2px 7px;
  color: #2d3440;
  text-decoration: none;
  width: 24px;
  height: 24px;
}

.pagination-current {
  background-color: #fcfcfc;
  border-radius: 50%;
}
